---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { HeroParallaxDemo } from '../components/ProductCard';
import { MacbookScrollDemo } from '../components/MacbookScroll';

import GetBlogImage from '../components/GetBlogImage.astro';
import GetBlogAuthor from '../components/GetBlogAuthor.astro';
import GetBlogDate from '../components/GetBlogDate.astro';

const res = await fetch("https://colateralmkt.com/wp-json/wp/v2/posts?_fields=featured_media,author,title,date,link,slug");
const posts = await res.json();
console.log(posts);
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body class="">
		
		<HeroParallaxDemo client:load />
		
		<!-- features - start -->
		<section class="mx-auto max-w-padded-container bg-black">
			<div class="px-8 md:px-40 pb-40 m-auto ">	

				<div class="w-full px-2 md:px-5">
					<div class="border-t border-solid border-[#515151] text-center pt-40">
					   <h2 class="font-title relative z-[2] mx-auto text-[clamp(2rem,6vw,4.5rem)] font-black leading-none">
							<span class="text-[#A5ADBB]">55 Components</span> <br> 
							<span class="inline-grid">
								<span class="rainbow-bg row-start-1 col-start-1 pointer-events-none">endless possibilities</span>
								<span class="w-fit block mx-auto bold text-transparent bg-gradient-to-br rainbow-text row-start-1 col-start-1 relative">endless possibilities</span>
							</span>
						</h2>
					    <p class="text-base-content/70 font-title relative z-[2] py-4 font-light md:text-3xl text-[#A5ADBB]">
							Mix and match daisyUI class names to create unique web pages.
						</p>
					</div>
				 </div>

				<div class="mx-auto px-6 text-gray-500">
					<div class="relative">
						<div class="relative z-10 grid gap-3 grid-cols-6 ">

							<!-- LOGO SHOPIFY --> 
							<div class="col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden flex relative p-8 rounded-2xl border border-[#171717] bg-[#171717]">
								<div class="size-fit m-auto relative">
									<div class="relative h-24 w-56 flex items-center mx-auto">
										<svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												viewBox="0 0 100 28.6" style="enable-background:new 0 0 100 28.6;" xml:space="preserve">
											<style type="text/css">
												.st0{fill:#8DB849;}
												.st1{fill:#5A863E;}
												.st2{fill:#FFFFFE;}
												.st3{fill:#FFFFFE;}
											</style>
											<g>
												<path class="st0" d="M11.3,1c0.2,0,0.3,0.1,0.5,0.2C10.6,1.7,9.4,3,8.8,5.8L6.6,6.4C7.3,4.4,8.7,1,11.3,1z M12.4,2
													c0.2,0.6,0.4,1.3,0.4,2.4c0,0.1,0,0.1,0,0.2L9.9,5.4C10.5,3.3,11.5,2.4,12.4,2z M15,3.8l-1.3,0.4c0-0.1,0-0.2,0-0.3
													c0-0.9-0.1-1.6-0.3-2.2C14.1,1.9,14.7,2.8,15,3.8z M21.5,5.4c0-0.1-0.1-0.2-0.2-0.2C21.1,5.2,19,5,19,5s-1.5-1.5-1.7-1.6
													c-0.2-0.2-0.5-0.1-0.6-0.1c0,0-0.3,0.1-0.8,0.3c-0.5-1.4-1.4-2.7-2.9-2.7c0,0-0.1,0-0.1,0c-0.4-0.6-1-0.8-1.5-0.8
													C7.8,0,6.1,4.5,5.5,6.8C4.7,7,3.9,7.3,3,7.6c-0.8,0.2-0.8,0.3-0.9,1C2,9.1,0,24.9,0,24.9l15.9,3l8.6-1.9C24.5,26,21.5,5.6,21.5,5.4
													z"/>
												<path class="st1" d="M21.2,5.2C21.1,5.2,19,5,19,5s-1.5-1.5-1.7-1.6c-0.1-0.1-0.1-0.1-0.2-0.1l-1.2,24.6l8.6-1.9c0,0-3-20.4-3-20.6
													C21.5,5.3,21.3,5.2,21.2,5.2"/>
												<path class="st2" d="M13,10l-1.1,3.2c0,0-0.9-0.5-2.1-0.5c-1.7,0-1.8,1-1.8,1.3c0,1.4,3.8,2,3.8,5.4c0,2.7-1.7,4.4-4,4.4
													c-2.7,0-4.1-1.7-4.1-1.7l0.7-2.4c0,0,1.4,1.2,2.6,1.2c0.8,0,1.1-0.6,1.1-1.1c0-1.9-3.1-2-3.1-5.1c0-2.6,1.9-5.1,5.6-5.1
													C12.3,9.5,13,10,13,10"/>
												<path class="st3" d="M34.6,15.9c-0.9-0.5-1.3-0.9-1.3-1.4c0-0.7,0.6-1.1,1.6-1.1c1.1,0,2.1,0.5,2.1,0.5l0.8-2.4
													c0,0-0.7-0.6-2.8-0.6c-3,0-5,1.7-5,4.1c0,1.4,1,2.4,2.2,3.1c1,0.6,1.4,1,1.4,1.6c0,0.6-0.5,1.2-1.5,1.2c-1.4,0-2.8-0.7-2.8-0.7
													l-0.8,2.4c0,0,1.2,0.8,3.3,0.8c3,0,5.2-1.5,5.2-4.2C37,17.7,35.9,16.6,34.6,15.9 M46.7,10.8c-1.5,0-2.7,0.7-3.6,1.8l0,0l1.3-6.8H41
													l-3.3,17.3h3.4l1.1-5.9c0.4-2.2,1.6-3.6,2.7-3.6c0.8,0,1.1,0.5,1.1,1.3c0,0.5,0,1-0.1,1.5l-1.3,6.8h3.4l1.3-7
													c0.1-0.7,0.2-1.6,0.2-2.2C49.5,12,48.5,10.8,46.7,10.8 M55.4,20.7c-1.2,0-1.6-1-1.6-2.2c0-1.9,1-5.1,2.8-5.1c1.2,0,1.6,1,1.6,2
													C58.2,17.6,57.2,20.7,55.4,20.7z M57.1,10.8c-4.1,0-6.8,3.7-6.8,7.8c0,2.6,1.6,4.7,4.7,4.7c4,0,6.7-3.6,6.7-7.8
													C61.7,13.1,60.3,10.8,57.1,10.8z M67.1,20.8c-0.9,0-1.4-0.5-1.4-0.5l0.6-3.2c0.4-2.1,1.5-3.5,2.7-3.5c1,0,1.4,1,1.4,1.9
													C70.3,17.7,69,20.8,67.1,20.8z M70.4,10.8c-2.3,0-3.6,2-3.6,2h0l0.2-1.8h-3c-0.1,1.2-0.4,3.1-0.7,4.5l-2.4,12.4h3.4l0.9-5h0.1
													c0,0,0.7,0.4,2,0.4c4,0,6.6-4.1,6.6-8.2C73.9,12.9,72.9,10.8,70.4,10.8z M78.7,6c-1.1,0-1.9,0.9-1.9,2c0,1,0.6,1.7,1.6,1.7h0
													c1.1,0,2-0.7,2-2C80.4,6.7,79.7,6,78.7,6 M74,23.1h3.4l2.3-12h-3.4L74,23.1z M88.3,11.1h-2.4l0.1-0.6c0.2-1.2,0.9-2.2,2-2.2
													c0.6,0,1.1,0.2,1.1,0.2l0.7-2.7c0,0-0.6-0.3-1.8-0.3c-1.2,0-2.4,0.3-3.3,1.1c-1.2,1-1.7,2.4-2,3.8l-0.1,0.6H81l-0.5,2.6h1.6
													l-1.8,9.5h3.4l1.8-9.5h2.3L88.3,11.1z M96.4,11.1c0,0-2.1,5.3-3.1,8.2h0c-0.1-0.9-0.8-8.2-0.8-8.2h-3.6l2,11c0,0.2,0,0.4-0.1,0.6
													c-0.4,0.8-1.1,1.5-1.8,2c-0.6,0.5-1.4,0.8-1.9,1l0.9,2.9c0.7-0.1,2.1-0.7,3.3-1.8c1.5-1.4,3-3.7,4.4-6.7l4.1-8.9L96.4,11.1z"/>
											</g>
										</svg>
									</div>
								</div>
							</div>

							<!-- LOGO ASTRO --> 
							<div class="col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden flex relative p-8 rounded-2xl border border-[#171717] bg-[#171717]">
								<div class="size-fit m-auto relative">
									<div class="relative h-24 w-56 flex items-center mx-auto">
										<svg width="460" height="160" viewBox="30 0 400 140" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M65.7846 121.175C61.2669 117.045 59.9481 108.368 61.8303 102.082C65.0939 106.045 69.6158 107.301 74.2997 108.009C81.5305 109.103 88.6318 108.694 95.349 105.389C96.1174 105.011 96.8275 104.507 97.6672 103.998C98.2974 105.826 98.4615 107.672 98.2413 109.551C97.706 114.127 95.4288 117.662 91.8069 120.341C90.3586 121.413 88.8261 122.371 87.3303 123.382C82.7349 126.487 81.4917 130.129 83.2184 135.427C83.2594 135.556 83.2961 135.685 83.389 136C81.0427 134.95 79.3289 133.421 78.023 131.411C76.6438 129.289 75.9876 126.942 75.9531 124.403C75.9358 123.167 75.9358 121.92 75.7696 120.702C75.3638 117.732 73.9694 116.402 71.3426 116.325C68.6467 116.247 66.5141 117.913 65.9486 120.538C65.9054 120.739 65.8428 120.938 65.7803 121.172L65.7846 121.175Z" fill="white"/>
											<path d="M65.7846 121.175C61.2669 117.045 59.9481 108.368 61.8303 102.082C65.0939 106.045 69.6158 107.301 74.2997 108.009C81.5305 109.103 88.6318 108.694 95.349 105.389C96.1174 105.011 96.8275 104.507 97.6672 103.998C98.2974 105.826 98.4615 107.672 98.2413 109.551C97.706 114.127 95.4288 117.662 91.8069 120.341C90.3586 121.413 88.8261 122.371 87.3303 123.382C82.7349 126.487 81.4917 130.129 83.2184 135.427C83.2594 135.556 83.2961 135.685 83.389 136C81.0427 134.95 79.3289 133.421 78.023 131.411C76.6438 129.289 75.9876 126.942 75.9531 124.403C75.9358 123.167 75.9358 121.92 75.7696 120.702C75.3638 117.732 73.9694 116.402 71.3426 116.325C68.6467 116.247 66.5141 117.913 65.9486 120.538C65.9054 120.739 65.8428 120.938 65.7803 121.172L65.7846 121.175Z" fill="url(#paint0_linear_1_33)"/>
											<path d="M40 101.034C40 101.034 53.3775 94.5177 66.7924 94.5177L76.9068 63.2155C77.2855 61.7017 78.3911 60.6729 79.6393 60.6729C80.8875 60.6729 81.9932 61.7017 82.3719 63.2155L92.4862 94.5177C108.374 94.5177 119.279 101.034 119.279 101.034C119.279 101.034 96.5558 39.133 96.5114 39.0088C95.8592 37.1787 94.7583 36 93.274 36H66.007C64.5227 36 63.4662 37.1787 62.7696 39.0088C62.7205 39.1307 40 101.034 40 101.034Z" fill="white"/>
											<path d="M181.043 81.1227C181.043 86.6079 174.22 89.8838 164.773 89.8838C158.624 89.8838 156.45 88.3601 156.45 85.1604C156.45 81.8083 159.149 80.2085 165.297 80.2085C170.846 80.2085 175.569 80.2846 181.043 80.9703V81.1227ZM181.118 74.3423C177.744 73.5805 172.645 73.1234 166.572 73.1234C148.877 73.1234 140.555 77.3135 140.555 87.065C140.555 97.1975 146.253 101.083 159.449 101.083C170.621 101.083 178.193 98.2641 180.968 91.3313H181.417C181.342 93.0074 181.268 94.6834 181.268 95.9785C181.268 99.5592 181.867 99.8639 184.791 99.8639H198.587C197.837 97.7308 197.388 91.7122 197.388 86.5317C197.388 80.9703 197.612 76.7802 197.612 71.1426C197.612 59.6388 190.715 52.3251 169.121 52.3251C159.824 52.3251 149.477 53.925 141.605 56.2867C142.354 59.4102 143.404 65.7335 143.929 69.8474C150.752 66.6477 160.424 65.2764 167.922 65.2764C178.268 65.2764 181.118 67.6381 181.118 72.4377V74.3423Z" fill="white"/>
											<path d="M218.971 84.3224C217.097 84.5509 214.547 84.5509 211.923 84.5509C209.149 84.5509 206.6 84.4748 204.875 84.2462C204.875 84.8557 204.8 85.5413 204.8 86.1508C204.8 95.6738 211.024 101.235 232.917 101.235C253.535 101.235 260.208 95.75 260.208 86.0746C260.208 76.9325 255.785 72.4377 236.216 71.4473C220.995 70.7616 219.646 69.0856 219.646 67.181C219.646 64.9717 221.595 63.8289 231.792 63.8289C242.364 63.8289 245.213 65.2764 245.213 68.3238V69.0094C246.713 68.9332 249.412 68.8571 252.186 68.8571C254.81 68.8571 257.659 68.9332 259.309 69.0856C259.309 68.3999 259.384 67.7905 259.384 67.2572C259.384 56.0581 250.086 52.4013 232.092 52.4013C211.848 52.4013 205.025 57.3533 205.025 67.0286C205.025 75.7136 210.499 81.1227 229.918 81.9607C244.238 82.4178 245.813 84.0177 245.813 86.227C245.813 88.5887 243.489 89.6553 233.442 89.6553C221.895 89.6553 218.971 88.0554 218.971 84.7795V84.3224Z" fill="white"/>
											<path d="M284.955 44.1734C279.482 49.2778 269.66 54.3821 264.187 55.7534C264.262 58.5722 264.262 63.7527 264.262 66.5715L269.285 66.6477C269.21 72.0568 269.135 78.6086 269.135 82.9511C269.135 93.0835 274.458 100.702 291.028 100.702C298.001 100.702 302.65 99.9401 308.423 98.7212C307.823 94.9881 307.148 89.2743 306.923 84.9319C303.475 86.0746 299.126 86.6841 294.327 86.6841C287.654 86.6841 284.955 84.8557 284.955 79.599C284.955 75.028 284.955 70.7616 285.03 66.8001C293.578 66.8763 302.125 67.0286 307.148 67.181C307.073 63.2194 307.223 57.5056 307.448 53.6964C300.176 53.8488 292.003 53.925 285.255 53.925C285.33 50.5729 285.405 47.3732 285.48 44.1734H284.955Z" fill="white"/>
											<path d="M329.736 64.286C329.811 60.3244 329.886 56.9724 329.961 53.6964H314.89C315.115 60.2483 315.115 66.9525 315.115 76.7802C315.115 86.6079 315.04 93.3883 314.89 99.8639H332.135C331.835 95.2929 331.76 87.5983 331.76 81.0465C331.76 70.6855 335.959 67.7143 345.481 67.7143C349.905 67.7143 353.054 68.2476 355.828 69.238C355.903 65.3526 356.653 57.8104 357.102 54.4583C354.253 53.6203 351.104 53.087 347.28 53.087C339.108 53.0108 333.11 56.3629 330.336 64.3622L329.736 64.286Z" fill="white"/>
											<path d="M404.808 76.4754C404.808 84.7795 398.81 88.6649 389.363 88.6649C379.991 88.6649 373.993 85.008 373.993 76.4754C373.993 67.9428 380.066 64.7431 389.363 64.7431C398.735 64.7431 404.808 68.1714 404.808 76.4754ZM420.478 76.0945C420.478 59.5626 407.582 52.1728 389.363 52.1728C371.069 52.1728 358.623 59.5626 358.623 76.0945C358.623 92.5503 370.244 101.388 389.288 101.388C408.482 101.388 420.478 92.5503 420.478 76.0945Z" fill="white"/>
											<defs>
											<linearGradient id="paint0_linear_1_33" x1="61.0003" y1="136" x2="104.622" y2="115.39" gradientUnits="userSpaceOnUse">
											<stop stop-color="#D83333"/>
											<stop offset="1" stop-color="#F041FF"/>
											</linearGradient>
											</defs>
										</svg>
									</div>
								</div>
							</div>

							<!-- LOGO Tailwind -->
							<div class="col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden flex relative p-8 rounded-2xl border border-[#171717] bg-[#171717]">
								<div class="size-fit m-auto relative">
									<div class="relative h-24 w-56 flex items-center mx-auto">
										<svg 
											width="300px" height="300px" viewBox="0 -230 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <defs> <linearGradient x1="-2.77777778%" y1="32%" x2="100%" y2="67.5555556%" id="linearGradient-1"> <stop stop-color="#2298BD" offset="0%"> </stop> <stop stop-color="#0ED7B5" offset="100%"> </stop> </linearGradient> </defs> <g> <path d="M52.8666139,-1.0658141e-14 C38.7688502,-1.0658141e-14 29.9577479,7.04888185 26.4333069,21.1466456 C31.7199683,14.0977637 37.88774,11.454433 44.9366218,13.2166535 C48.9584005,14.2220981 51.8329737,17.1397478 55.0147606,20.3695063 C60.1980384,25.6307134 66.1970285,31.7199683 79.2999208,31.7199683 C93.3976845,31.7199683 102.208787,24.6710865 105.733228,10.5733228 C100.446566,17.6222046 94.2787948,20.2655353 87.2299129,18.5033149 C83.2081342,17.4978702 80.333561,14.5802205 77.1517741,11.350462 C71.9684963,6.08925491 65.9695062,-1.0658141e-14 52.8666139,-1.0658141e-14 Z M26.4333069,31.7199683 C12.3355432,31.7199683 3.52444093,38.7688502 0,52.8666139 C5.28666139,45.817732 11.454433,43.1744013 18.5033149,44.9366218 C22.5250936,45.9420665 25.3996667,48.8597162 28.5814537,52.0894747 C33.7647315,57.3506818 39.7637215,63.4399367 52.8666139,63.4399367 C66.9643776,63.4399367 75.7754799,56.3910548 79.2999208,42.2932911 C74.0132594,49.342173 67.8454878,51.9855037 60.796606,50.2232832 C56.7748273,49.2178385 53.9002541,46.3001888 50.7184671,43.0704303 C45.5351894,37.8092232 39.5361993,31.7199683 26.4333069,31.7199683 Z" fill="url(#linearGradient-1)"> </path> <path d="M158.59201,26.7309264 L149.365806,26.7309264 L149.365806,44.5880938 C149.365806,49.350005 152.490811,49.2756002 158.59201,48.9779807 L158.59201,56.1952525 C146.240802,57.6833498 141.330081,54.2607261 141.330081,44.5880938 L141.330081,26.7309264 L134.484834,26.7309264 L134.484834,18.9928205 L141.330081,18.9928205 L141.330081,8.9990725 L149.365806,6.61811685 L149.365806,18.9928205 L158.59201,18.9928205 L158.59201,26.7309264 Z M193.762014,18.9928205 L201.797739,18.9928205 L201.797739,56.1952525 L193.762014,56.1952525 L193.762014,50.8381023 C190.934629,54.7815601 186.544742,57.1625158 180.741163,57.1625158 C170.622101,57.1625158 162.214352,48.6059564 162.214352,37.5940365 C162.214352,26.5077118 170.622101,18.0255573 180.741163,18.0255573 C186.544742,18.0255573 190.934629,20.406513 193.762014,24.2755659 L193.762014,18.9928205 Z M182.006045,49.4988148 C188.702483,49.4988148 193.762014,44.5136889 193.762014,37.5940365 C193.762014,30.6743842 188.702483,25.6892583 182.006045,25.6892583 C175.309608,25.6892583 170.250077,30.6743842 170.250077,37.5940365 C170.250077,44.5136889 175.309608,49.4988148 182.006045,49.4988148 Z M215.190615,13.4124557 C212.36323,13.4124557 210.056679,11.0315001 210.056679,8.27852013 C210.056679,5.4511353 212.36323,3.14458451 215.190615,3.14458451 C218.018,3.14458451 220.32455,5.4511353 220.32455,8.27852013 C220.32455,11.0315001 218.018,13.4124557 215.190615,13.4124557 Z M211.172752,56.1952525 L211.172752,18.9928205 L219.208477,18.9928205 L219.208477,56.1952525 L211.172752,56.1952525 Z M228.509085,56.1952525 L228.509085,1.87970183 L236.544811,1.87970183 L236.544811,56.1952525 L228.509085,56.1952525 Z M288.70262,18.9928205 L297.184775,18.9928205 L285.503211,56.1952525 L277.616296,56.1952525 L269.87819,31.1208134 L262.065679,56.1952525 L254.178764,56.1952525 L242.4972,18.9928205 L250.979354,18.9928205 L258.196626,44.6624986 L266.009137,18.9928205 L273.672838,18.9928205 L281.410944,44.6624986 L288.70262,18.9928205 Z M307.155027,13.4124557 C304.327642,13.4124557 302.021091,11.0315001 302.021091,8.27852013 C302.021091,5.4511353 304.327642,3.14458451 307.155027,3.14458451 C309.982411,3.14458451 312.288962,5.4511353 312.288962,8.27852013 C312.288962,11.0315001 309.982411,13.4124557 307.155027,13.4124557 Z M303.137164,56.1952525 L303.137164,18.9928205 L311.172889,18.9928205 L311.172889,56.1952525 L303.137164,56.1952525 Z M340.041977,18.0255573 C348.375321,18.0255573 354.32771,23.680327 354.32771,33.3529593 L354.32771,56.1952525 L346.291985,56.1952525 L346.291985,34.1714128 C346.291985,28.5166431 343.018171,25.5404486 337.95864,25.5404486 C332.675895,25.5404486 328.509223,28.6654529 328.509223,36.254749 L328.509223,56.1952525 L320.473497,56.1952525 L320.473497,18.9928205 L328.509223,18.9928205 L328.509223,23.7547318 C330.964583,19.8856789 334.982446,18.0255573 340.041977,18.0255573 Z M392.423001,4.11184775 L400.458726,4.11184775 L400.458726,56.1952525 L392.423001,56.1952525 L392.423001,50.8381023 C389.595616,54.7815601 385.205729,57.1625158 379.40215,57.1625158 C369.283088,57.1625158 360.875338,48.6059564 360.875338,37.5940365 C360.875338,26.5077118 369.283088,18.0255573 379.40215,18.0255573 C385.205729,18.0255573 389.595616,20.406513 392.423001,24.2755659 L392.423001,4.11184775 Z M380.667032,49.4988148 C387.36347,49.4988148 392.423001,44.5136889 392.423001,37.5940365 C392.423001,30.6743842 387.36347,25.6892583 380.667032,25.6892583 C373.970595,25.6892583 368.911064,30.6743842 368.911064,37.5940365 C368.911064,44.5136889 373.970595,49.4988148 380.667032,49.4988148 Z M427.393287,57.1625158 C416.158152,57.1625158 407.750403,48.6059564 407.750403,37.5940365 C407.750403,26.5077118 416.158152,18.0255573 427.393287,18.0255573 C434.684964,18.0255573 441.009377,21.8202054 443.985572,27.6237848 L437.065919,31.6416474 C435.429012,28.1446188 431.783174,25.9124729 427.318882,25.9124729 C420.771254,25.9124729 415.786128,30.8975988 415.786128,37.5940365 C415.786128,44.2904743 420.771254,49.2756002 427.318882,49.2756002 C431.783174,49.2756002 435.429012,46.9690494 437.214729,43.5464257 L444.134381,47.4898834 C441.009377,53.3678677 434.684964,57.1625158 427.393287,57.1625158 Z M457.378447,29.2606918 C457.378447,36.0315344 477.393355,31.9392669 477.393355,45.7041667 C477.393355,53.1446531 470.920132,57.1625158 462.884407,57.1625158 C455.443921,57.1625158 450.08677,53.8142969 447.705815,48.4571467 L454.625467,44.439284 C455.815945,47.7875029 458.792139,49.7964342 462.884407,49.7964342 C466.45584,49.7964342 469.20882,48.6059564 469.20882,45.6297618 C469.20882,39.007729 449.193912,42.7279722 449.193912,29.4095015 C449.193912,22.4154443 455.220706,18.0255573 462.810002,18.0255573 C468.911201,18.0255573 473.970732,20.8529421 476.574902,25.7636632 L469.804059,29.5583112 C468.464772,26.6565215 465.860602,25.317234 462.810002,25.317234 C459.908212,25.317234 457.378447,26.5821167 457.378447,29.2606918 Z M491.679089,29.2606918 C491.679089,36.0315344 511.693998,31.9392669 511.693998,45.7041667 C511.693998,53.1446531 505.220775,57.1625158 497.185049,57.1625158 C489.744563,57.1625158 484.387413,53.8142969 482.006457,48.4571467 L488.926109,44.439284 C490.116587,47.7875029 493.092782,49.7964342 497.185049,49.7964342 C500.756483,49.7964342 503.509463,48.6059564 503.509463,45.6297618 C503.509463,39.007729 483.494554,42.7279722 483.494554,29.4095015 C483.494554,22.4154443 489.521348,18.0255573 497.110644,18.0255573 C503.211843,18.0255573 508.271374,20.8529421 510.875544,25.7636632 L504.104702,29.5583112 C502.765414,26.6565215 500.161244,25.317234 497.110644,25.317234 C494.208855,25.317234 491.679089,26.5821167 491.679089,29.2606918 Z" fill="#ffffff"> </path> </g> </g>
										</svg>
									</div>
								</div>
							</div>	
						
							<!-- LOGO WORDPRESS --> 
							<div class="col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden flex relative p-8 rounded-2xl border border-[#171717] bg-[#171717]">
								<div class="size-fit m-auto relative">
									<div class="relative h-24 w-56 flex items-center mx-auto">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -50 550 220">
											<path d="M313.19 48.227h-21.257v2.255c6.649 0 7.718 1.425 7.718 9.857V75.54c0 8.431-1.068 9.975-7.718 9.975-5.105-.712-8.55-3.444-13.3-8.669l-5.462-5.937c7.362-1.308 11.28-5.938 11.28-11.164 0-6.53-5.58-11.518-16.031-11.518h-20.9v2.255c6.649 0 7.718 1.425 7.718 9.857V75.54c0 8.431-1.069 9.975-7.718 9.975v2.256h23.631v-2.256c-6.649 0-7.718-1.544-7.718-9.975v-4.274h2.018l13.182 16.505h34.557c16.981 0 24.344-9.024 24.344-19.832 0-10.806-7.362-19.712-24.344-19.712zm-49.756 19.355V51.79h4.868c5.343 0 7.719 3.681 7.719 7.956 0 4.157-2.376 7.837-7.719 7.837h-4.868zm50.113 16.508h-.832c-4.274 0-4.868-1.068-4.868-6.531V51.79h5.7c12.35 0 14.605 9.024 14.605 16.031 0 7.243-2.256 16.269-14.605 16.269zM181.378 71.978l8.194-24.227c2.376-7.006 1.307-9.024-6.293-9.024v-2.376h22.325v2.376c-7.481 0-9.262 1.781-12.231 10.45L179.834 89.79h-1.543l-12.114-37.17-12.349 37.17h-1.544l-13.181-40.613c-2.85-8.669-4.75-10.45-11.638-10.45v-2.376h26.363v2.376c-7.007 0-8.908 1.662-6.413 9.024l7.956 24.227 11.994-35.627h2.257zm40.374 17.336c-13.062 0-23.75-9.618-23.75-21.376 0-11.637 10.689-21.257 23.75-21.257 13.063 0 23.75 9.62 23.75 21.257 0 11.758-10.687 21.376-23.75 21.376zm0-38.949c-10.924 0-14.725 9.855-14.725 17.574 0 7.839 3.801 17.576 14.725 17.576 11.045 0 14.845-9.737 14.845-17.576 0-7.719-3.8-17.574-14.845-17.574z" fill="#00749A"/>
											<path d="M366.864 85.396v2.375H339.67v-2.375c7.957 0 9.382-2.018 9.382-13.895V52.502c0-11.877-1.425-13.776-9.382-13.776V36.35h24.581c12.231 0 19.002 6.294 19.002 14.727 0 8.194-6.771 14.606-19.002 14.606h-6.769V71.5c0 11.878 1.425 13.896 9.382 13.896zm-2.613-44.771h-6.769v20.664h6.769c6.651 0 9.738-4.631 9.738-10.212 0-5.7-3.087-10.452-9.738-10.452zm100.582 35.984l-.594 2.137c-1.068 3.919-2.376 5.344-10.807 5.344h-1.663c-6.174 0-7.243-1.425-7.243-9.856v-5.462c9.263 0 9.976.83 9.976 7.006h2.256V58.083h-2.256c0 6.175-.713 7.006-9.976 7.006V51.79h6.53c8.433 0 9.738 1.425 10.807 5.344l.595 2.255h1.899l-.83-11.162h-34.914v2.255c6.649 0 7.719 1.425 7.719 9.857V75.54c0 7.713-.908 9.656-6.151 9.933-4.983-.761-8.404-3.479-13.085-8.627l-5.463-5.937c7.363-1.308 11.282-5.938 11.282-11.164 0-6.53-5.581-11.518-16.031-11.518h-20.9v2.255c6.649 0 7.718 1.425 7.718 9.857V75.54c0 8.431-1.068 9.975-7.718 9.975v2.256h23.632v-2.256c-6.649 0-7.719-1.544-7.719-9.975v-4.274h2.019l13.181 16.505h48.806l.713-11.161h-1.783zm-62.937-9.027V51.79h4.868c5.344 0 7.72 3.681 7.72 7.956 0 4.157-2.376 7.837-7.72 7.837h-4.868zm87.043 21.732c-4.75 0-8.907-2.493-10.688-4.038-.594.595-1.662 2.376-1.899 4.038h-2.257V72.928h2.375c.951 7.837 6.412 12.468 13.419 12.468 3.8 0 6.888-2.137 6.888-5.699 0-3.087-2.731-5.463-7.6-7.719l-6.769-3.206c-4.751-2.258-8.313-6.177-8.313-11.401 0-5.7 5.344-10.568 12.707-10.568 3.919 0 7.243 1.425 9.263 3.087.593-.475 1.187-1.782 1.544-3.208h2.256v14.014h-2.494c-.832-5.582-3.919-10.213-10.212-10.213-3.325 0-6.414 1.9-6.414 4.87 0 3.087 2.494 4.749 8.195 7.362l6.53 3.206c5.701 2.731 7.956 7.127 7.956 10.689 0 7.48-6.531 12.704-14.487 12.704zm36.575 0c-4.751 0-8.908-2.493-10.688-4.038-.594.595-1.662 2.376-1.899 4.038h-2.257V72.928h2.375c.95 7.837 6.412 12.468 13.419 12.468 3.8 0 6.888-2.137 6.888-5.699 0-3.087-2.731-5.463-7.601-7.719l-6.769-3.206c-4.75-2.258-8.313-6.177-8.313-11.401 0-5.7 5.344-10.568 12.707-10.568 3.919 0 7.243 1.425 9.263 3.087.593-.475 1.187-1.782 1.542-3.208h2.257v14.014h-2.493c-.832-5.582-3.919-10.213-10.212-10.213-3.325 0-6.414 1.9-6.414 4.87 0 3.087 2.494 4.749 8.195 7.362l6.53 3.206C537.745 68.652 540 73.048 540 76.61c0 7.48-6.531 12.704-14.486 12.704z" fill="#ffffff"/><g fill="#ffffff">
											<path d="M8.708 61.26c0 20.802 12.089 38.779 29.619 47.298L13.258 39.872a52.354 52.354 0 00-4.55 21.388zm88.032-2.652c0-6.495-2.333-10.993-4.334-14.494-2.664-4.329-5.161-7.995-5.161-12.324 0-4.831 3.664-9.328 8.825-9.328.233 0 .454.029.681.042-9.35-8.566-21.807-13.796-35.489-13.796-18.36 0-34.513 9.42-43.91 23.688 1.233.037 2.395.063 3.382.063 5.497 0 14.006-.667 14.006-.667 2.833-.167 3.167 3.994.337 4.329 0 0-2.847.335-6.015.501L48.2 93.547l11.501-34.493-8.188-22.434c-2.83-.166-5.511-.501-5.511-.501-2.832-.166-2.5-4.496.332-4.329 0 0 8.679.667 13.843.667 5.496 0 14.006-.667 14.006-.667 2.835-.167 3.168 3.994.337 4.329 0 0-2.853.335-6.015.501l18.992 56.494 5.242-17.517c2.272-7.269 4.001-12.49 4.001-16.989z"/>
											<path d="M62.184 65.857l-15.768 45.819a52.552 52.552 0 0014.846 2.141c6.12 0 11.989-1.058 17.452-2.979a4.615 4.615 0 01-.374-.724zm45.192-29.811c.226 1.674.354 3.471.354 5.404 0 5.333-.996 11.328-3.996 18.824l-16.053 46.413c15.624-9.111 26.133-26.038 26.133-45.426.001-9.137-2.333-17.729-6.438-25.215z"/>
											<path d="M61.262 0C27.483 0 0 27.481 0 61.26c0 33.783 27.483 61.263 61.262 61.263 33.778 0 61.265-27.48 61.265-61.263C122.526 27.481 95.04 0 61.262 0zm0 119.715c-32.23 0-58.453-26.223-58.453-58.455 0-32.23 26.222-58.451 58.453-58.451 32.229 0 58.45 26.221 58.45 58.451 0 32.232-26.221 58.455-58.45 58.455z"/></g>
										</svg>
									</div>
								</div>
							</div>

							<!-- LOGO WooCommerce -->
							<div class="col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden flex relative p-8 rounded-2xl border border-[#171717] bg-[#171717]">
								<div class="size-fit m-auto relative">
									<div class="relative h-24 w-56 flex items-center mx-auto">
										<svg 
											viewBox="0 0 512 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill-rule="evenodd"> <path d="M157.26652,0 L16.0962942,0 C7.16234734,0 -0.0698778538,7.30311363 0.000509457557,16.1661508 L0.000509457557,70.0533805 C0.000509457557,78.9871009 7.23325707,86.2194407 16.167204,86.2194407 L83.0296918,86.2194407 L113.589748,103.236418 L106.641048,86.2194407 L157.26652,86.2194407 C166.200694,86.2194407 173.43258,78.9871009 173.43258,70.0533805 L173.43258,16.1661508 C173.43258,7.23220389 166.200694,0 157.26652,0 Z M13.1186291,12.4791165 C11.1332925,12.6209359 9.64427866,13.329988 8.651633,14.677137 C7.65898734,15.9534216 7.30448397,17.5842096 7.51716787,19.4277267 C11.700525,46.0170195 15.6002433,63.9555965 19.2163679,73.244092 C20.6344719,76.6473062 22.2652599,78.2784566 24.1796868,78.1366372 C27.1576238,77.9236814 30.7028387,73.8113699 34.8861958,65.7992496 C37.0842164,61.2610265 40.4876571,54.4545982 45.0964273,45.3786053 C48.9250546,58.7794124 54.1719218,68.8481416 60.7663006,75.5838867 C62.6099537,77.498223 64.52429,78.3491398 66.36749,78.2073204 C67.9986404,78.0655009 69.2745626,77.2145841 70.1254794,75.6545699 C70.8345767,74.3075115 71.1182157,72.7474973 70.9763962,70.9749805 C70.5509378,64.5228743 71.1893519,55.5180177 72.9618688,43.9605919 C74.8050688,32.048708 77.0741803,23.4692644 79.8394334,18.3641713 C80.4067112,17.3006159 80.6192139,16.2370152 80.5485307,14.9607759 C80.4067112,13.3299427 79.6976139,11.9827936 78.3505555,10.9192382 C77.0034971,9.85568283 75.5141661,9.35936 73.8834688,9.50113416 C71.827313,9.64295363 70.2672988,10.6355993 69.2038794,12.6209359 C64.8079289,20.6331016 61.6879006,33.6085862 59.8447006,51.6182088 C57.1501307,44.8114634 54.8810192,36.7992524 53.1085024,27.3689827 C52.3287218,23.1856708 50.4143856,21.2003342 47.2943572,21.4130634 C45.1672918,21.5548375 43.3947296,22.9729416 41.9766256,25.667285 L26.4486171,55.2343788 C23.8960479,44.9532375 21.4852981,32.4032113 19.2872776,17.5842096 C18.7909548,13.8972205 16.7347084,12.1954775 13.1186291,12.4791165 Z M149.750994,17.5844361 C154.785359,18.6480368 158.543348,21.3423802 161.095646,25.809331 C163.364757,29.6381848 164.49886,34.246955 164.49886,39.7774612 C164.49886,47.0804389 162.65566,53.7455009 158.968354,59.843285 C154.714223,66.9338053 149.183717,70.4788389 142.306152,70.4788389 C141.100913,70.4788389 139.824538,70.3370195 138.477026,70.0533805 C133.443115,68.9899611 129.685125,66.2958442 127.132375,61.8287575 C124.863717,57.9289487 123.729161,53.2493593 123.729161,47.7895363 C123.729161,40.4865133 125.572814,33.8214966 129.259667,27.7946676 C133.584934,20.7042379 139.11544,17.159023 145.922322,17.159023 C147.127561,17.159023 148.403936,17.3008425 149.750994,17.5844361 Z M146.773239,55.9434761 C149.396672,53.6036814 151.169189,50.129331 152.161925,45.4497416 C152.445564,43.8189989 152.658067,42.0463915 152.658067,40.2028743 C152.658067,38.1466733 152.232609,35.9486527 151.381692,33.7505869 C150.318272,30.9853338 148.900078,29.4963653 147.198244,29.1418166 C144.645947,28.6454938 142.164332,30.0635979 139.824538,33.537903 C137.910201,36.2322464 136.704509,39.0684092 136.066548,41.9754818 C135.711773,43.606315 135.569954,45.3790584 135.569954,47.1515752 C135.569954,49.207731 135.995412,51.4057062 136.846329,53.6036814 C137.910201,56.3689345 139.327943,57.8578124 141.029777,58.2125876 C142.802294,58.5669097 144.71663,57.7871292 146.773239,55.9434761 Z M116.63864,25.809331 C114.08589,21.3423802 110.257217,18.6480368 105.293989,17.5844361 C103.946478,17.3008425 102.670555,17.159023 101.464863,17.159023 C94.6584351,17.159023 89.1279289,20.7042379 84.8026617,27.7946676 C81.1153555,33.8214966 79.2721555,40.4865133 79.2721555,47.7895363 C79.2721555,53.2493593 80.4067112,57.9289487 82.6753696,61.8287575 C85.2281201,66.2958442 88.9861095,68.9899611 94.020021,70.0533805 C95.3670794,70.3370195 96.6434546,70.4788389 97.8491466,70.4788389 C104.726711,70.4788389 110.257217,66.9338053 114.511348,59.843285 C118.198655,53.7455009 120.041855,47.0804389 120.041855,39.7774612 C120.041855,34.246955 118.907299,29.6381848 116.63864,25.809331 Z M107.704467,45.4497416 C106.712184,50.129331 104.939214,53.6036814 102.31578,55.9434761 C100.259625,57.7871292 98.3452882,58.5669097 96.5727714,58.2125876 C94.8709378,57.8578124 93.4527431,56.3689345 92.3893236,53.6036814 C91.5384068,51.4057062 91.1129484,49.207731 91.1129484,47.1515752 C91.1129484,45.3790584 91.2547679,43.606315 91.6095431,41.9754818 C92.2475041,39.0684092 93.4527431,36.2322464 95.3670794,33.537903 C97.7073272,30.0635979 100.188941,28.6454938 102.741239,29.1418166 C104.443072,29.4963653 105.861267,30.9853338 106.924686,33.7505869 C107.775603,35.9486527 108.201062,38.1466733 108.201062,40.2028743 C108.201062,42.0463915 108.059242,43.8189989 107.704467,45.4497416 Z" fill="#7F54B3"> </path> <path d="M191.37161,25.1708262 C186.620885,29.8505062 184.28109,35.8064255 184.28109,43.0386747 C184.28109,50.767292 186.620885,57.0775788 191.300927,61.8283044 C195.980517,66.5790301 202.078301,68.989508 209.664963,68.989508 C211.862938,68.989508 214.344552,68.6351858 217.039122,67.8549522 L217.039122,56.3684814 C214.557508,57.0775788 212.430216,57.432354 210.586563,57.432354 C206.828573,57.432354 203.850817,56.1559788 201.581706,53.6743646 C199.313048,51.1216142 198.178492,47.7184 198.178492,43.3931781 C198.178492,39.3516404 199.313048,36.0191547 201.511023,33.4665855 C203.779681,30.8431519 206.544934,29.5668673 209.948601,29.5668673 C212.146577,29.5668673 214.486371,29.9213706 217.039122,30.6304227 L217.039122,19.1439519 C214.699327,18.5058096 212.075894,18.2221706 209.310187,18.2221706 C202.078301,18.1512609 196.122336,20.4911462 191.37161,25.1708262 Z M240.579341,18.1512609 C234.056099,18.1512609 228.951051,20.3493267 225.263745,24.6744581 C221.576892,28.9996347 219.804375,35.0974188 219.804375,42.8968552 C219.804375,51.3345699 221.647575,57.7866761 225.263745,62.2537628 C228.879915,66.7208496 234.197918,68.989508 241.146619,68.989508 C247.882364,68.989508 253.058095,66.7208496 256.674265,62.2537628 C260.290435,57.7866761 262.134088,51.4763894 262.134088,43.3931781 C262.134088,35.3101027 260.290435,29.0705444 256.603582,24.6744581 C252.845593,20.3493267 247.527589,18.1512609 240.579341,18.1512609 Z M246.180531,55.021423 C244.904155,57.0068956 242.989819,57.9996319 240.579341,57.9996319 C238.31023,57.9996319 236.608396,57.0068956 235.403157,55.021423 C234.197918,53.0359504 233.63064,49.0654584 233.63064,43.0386747 C233.63064,33.7502244 235.970435,29.1414088 240.721161,29.1414088 C245.684389,29.1414088 248.236686,33.8211342 248.236686,43.2514039 C248.166003,49.0654584 247.456906,53.0359504 246.180531,55.021423 Z M297.160778,19.4984552 L294.608028,30.346829 C293.970067,33.1120821 293.332106,35.948245 292.764828,38.8553175 L291.346633,46.3713416 C289.999575,38.8553175 288.155922,29.9213706 285.816127,19.4984552 L269.366428,19.4984552 L263.197508,67.784269 L275.534895,67.784269 L278.867426,34.5301409 L287.305005,67.784269 L296.097359,67.784269 L304.180163,34.6010506 L307.654513,67.784269 L320.559178,67.784269 L314.035936,19.4984552 L297.160778,19.4984552 Z M356.22383,19.4984552 L353.671532,30.346829 C353.033118,33.1120821 352.395157,35.948245 351.827879,38.8553175 L350.409685,46.3713416 C349.062626,38.8553175 347.218973,29.9213706 344.879178,19.4984552 L328.429479,19.4984552 L322.261012,67.784269 L334.597947,67.784269 L337.930478,34.5301409 L346.368056,67.784269 L355.16041,67.784269 L363.172531,34.6010506 L366.646881,67.784269 L379.551547,67.784269 L373.028304,19.4984552 L356.22383,19.4984552 Z M396.355568,48.7111363 L407.913175,48.7111363 L407.913175,38.7134981 L396.355568,38.7134981 L396.355568,29.8504609 L409.685692,29.8504609 L409.685692,19.569365 L383.309536,19.569365 L383.309536,67.8549522 L409.756828,67.8549522 L409.756828,57.5741735 L396.355568,57.5741735 L396.355568,48.7111363 Z M446.484899,41.0533381 C447.83241,38.8553175 448.541055,36.5863873 448.541055,34.2465473 C448.541055,29.7086867 446.768538,26.0925621 443.223504,23.4690832 C439.678017,20.8456496 434.785925,19.4984552 428.688141,19.4984552 L413.514364,19.4984552 L413.514364,67.784269 L426.560849,67.784269 L426.560849,45.8040637 L426.773805,45.8040637 L437.338223,67.784269 L451.093805,67.784269 L440.670754,46.0165664 C443.152368,44.8821919 445.13784,43.2513586 446.484899,41.0533381 Z M426.490166,40.2733763 L426.490166,28.7869055 C429.609741,28.8578152 431.807717,29.3541381 433.155228,30.346829 C434.502286,31.3394747 435.140248,32.8993529 435.140248,35.1682832 C435.140248,38.5007688 432.233175,40.2025119 426.490166,40.2733763 Z M456.19704,25.1708262 C451.448127,29.8505062 449.108332,35.8064255 449.108332,43.0386747 C449.108332,50.767292 451.448127,57.0775788 456.129076,61.8283044 C460.809571,66.5790301 466.903731,68.989508 474.493111,68.989508 C476.690633,68.989508 479.173607,68.6351858 481.865005,67.8549522 L481.865005,56.3684814 C479.386563,57.0775788 477.257005,57.432354 475.412899,57.432354 C471.656722,57.432354 468.679872,56.1559788 466.409855,53.6743646 C464.139837,51.1216142 463.007094,47.7184 463.007094,43.3931781 C463.007094,39.3516404 464.139837,36.0191547 466.337359,33.4665855 C468.607377,30.8431519 471.371271,29.5668673 474.774032,29.5668673 C476.971554,29.5668673 479.314067,29.9213706 481.865005,30.6304227 L481.865005,19.1439519 C479.527023,18.5058096 476.903589,18.2221706 474.139695,18.2221706 C466.976226,18.1512609 460.950032,20.4911462 456.19704,25.1708262 Z M498.529925,57.432354 L498.529925,48.64 L510.083908,48.64 L510.083908,38.6425883 L498.529925,38.6425883 L498.529925,29.7795965 L511.928014,29.7795965 L511.928014,19.4984552 L485.553217,19.4984552 L485.553217,67.784269 L512.000509,67.784269 L512.000509,57.5030372 L498.529925,57.5030372 L498.529925,57.432354 Z" fill="#ffffff"> </path> </g> </g>
										</svg>
									</div>
								</div>
							</div>								

							<!-- LOGO Git --> 
							<div class="col-span-full sm:col-span-3 lg:col-span-1 overflow-hidden flex relative p-8 rounded-2xl border border-[#171717] bg-[#171717]">
								<div class="size-fit m-auto relative">
									<div class="relative h-24 w-24 flex items-center mx-auto">
										<svg 
											viewBox="0 -74 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M152.983963,37.213516 C147.387032,37.213516 143.218557,39.9617169 143.218557,46.5756347 C143.218557,51.5588676 145.965589,55.0189589 152.682374,55.0189589 C158.37516,55.0189589 162.242046,51.6640731 162.242046,46.3698995 C162.242046,40.3696804 158.781954,37.213516 152.983963,37.213516 L152.983963,37.213516 L152.983963,37.213516 Z M141.793607,83.9153973 C140.469187,85.5402374 139.149443,87.2679452 139.149443,89.3054247 C139.149443,93.3722009 144.334904,94.5960913 151.458484,94.5960913 C157.359342,94.5960913 165.397041,94.1822831 165.397041,88.6964018 C165.397041,85.435032 161.530155,85.2339726 156.643945,84.9277078 L141.793607,83.9153973 L141.793607,83.9153973 Z M171.906922,37.5209498 C173.73516,39.8611872 175.670941,43.1178813 175.670941,47.7971872 C175.670941,59.089242 166.819653,65.7008219 154.004457,65.7008219 C150.745425,65.7008219 147.794995,65.2951963 145.965589,64.7867032 L142.607196,70.1778995 L152.576,70.7869224 C170.178046,71.9091142 180.551306,72.4187763 180.551306,85.9435251 C180.551306,97.6458813 170.278575,104.255123 152.576,104.255123 C134.162703,104.255123 127.14316,99.5758174 127.14316,91.5392877 C127.14316,86.9605114 129.178301,84.5244201 132.738922,81.1613516 C129.38053,79.7422466 128.263014,77.1997808 128.263014,74.4515799 C128.263014,72.2118721 129.38053,70.1778995 131.214612,68.2432877 C133.045187,66.3133516 135.07916,64.3775708 137.521096,62.1402009 C132.536694,59.6982648 128.771507,54.4075982 128.771507,46.8783927 C128.771507,35.1807123 136.50411,27.1465205 152.066338,27.1465205 C156.441717,27.1465205 159.088219,27.5486393 161.428457,28.1635068 L181.267872,28.1635068 L181.267872,36.8078904 L171.906922,37.5209498 L171.906922,37.5209498 Z" fill="#ffffff"> </path> <path d="M199.165662,19.0340091 C193.365333,19.0340091 190.009279,15.6744475 190.009279,9.87294977 C190.009279,4.0796347 193.365333,0.92347032 199.165662,0.92347032 C205.066521,0.92347032 208.423744,4.0796347 208.423744,9.87294977 C208.423744,15.6744475 205.066521,19.0340091 199.165662,19.0340091 L199.165662,19.0340091 L199.165662,19.0340091 Z M186.039525,80.1712511 L186.039525,72.1382283 L191.229662,71.4286758 C192.654612,71.2229406 192.85684,70.9190137 192.85684,69.3900274 L192.85684,39.4801096 C192.85684,38.3637626 192.552913,37.6483653 191.53242,37.3456073 L186.039525,35.4109954 L187.15821,27.1734064 L208.219178,27.1734064 L208.219178,69.3900274 C208.219178,71.0207123 208.31737,71.2229406 209.847525,71.4286758 L215.036493,72.1382283 L215.036493,80.1712511 L186.039525,80.1712511 L186.039525,80.1712511 Z" fill="#ffffff"> </path> <path d="M255.267068,76.2272146 C250.890521,78.3617169 244.482338,80.2951598 238.68084,80.2951598 C226.575196,80.2951598 221.998758,75.4171324 221.998758,63.9158356 L221.998758,37.2626119 C221.998758,36.653589 221.998758,36.2456256 221.181662,36.2456256 L214.061589,36.2456256 L214.061589,27.1909406 C223.016913,26.1716164 226.575196,21.6945388 227.693881,10.6058813 L237.359927,10.6058813 L237.359927,25.0564384 C237.359927,25.7659909 237.359927,26.0734247 238.174685,26.0734247 L252.517699,26.0734247 L252.517699,36.2456256 L237.359927,36.2456256 L237.359927,60.5586119 C237.359927,66.5611689 238.786046,68.8990685 244.276603,68.8990685 C247.12884,68.8990685 250.075763,68.188347 252.517699,67.2730594 L255.267068,76.2272146" fill="#ffffff"> </path> <path d="M104.528658,49.5295708 L58.0126393,3.01705936 C55.3357443,0.337826484 50.990758,0.337826484 48.3103562,3.01705936 L38.6513242,12.6760913 L50.9042557,24.9290228 C53.7518174,23.9669772 57.0166941,24.6122374 59.2867945,26.8823379 C61.5674155,29.1664658 62.208,32.4593973 61.2225753,35.3163105 L73.0313059,47.1250411 C75.8882192,46.1407854 79.1846575,46.777863 81.4664475,49.0631598 C84.6553425,52.2508858 84.6553425,57.4176438 81.4664475,60.6077078 C78.2763836,63.7977717 73.1096256,63.7977717 69.9183927,60.6077078 C67.5197078,58.2066849 66.9270502,54.6834703 68.141589,51.7283653 L57.1289132,40.7156895 L57.1277443,69.6962922 C57.9050959,70.0820457 58.6391963,70.5952146 59.2867945,71.2404749 C62.4756895,74.4282009 62.4756895,79.5949589 59.2867945,82.7873607 C56.0967306,85.9762557 50.9276347,85.9762557 47.7422466,82.7873607 C44.5533516,79.5949589 44.5533516,74.4282009 47.7422466,71.2404749 C48.5301187,70.4537717 49.4418995,69.8587763 50.4144658,69.4589954 L50.4144658,40.2083653 C49.4418995,39.8109224 48.5312877,39.2194338 47.7422466,38.4268858 C45.3260274,36.0141735 44.7450594,32.4687489 45.9829772,29.5019543 L33.9053881,17.4220274 L2.01059361,49.314484 C-0.669808219,51.9960548 -0.669808219,56.3410411 2.01059361,59.020274 L48.5266119,105.533954 C51.2046758,108.213187 55.5484932,108.213187 58.2300639,105.533954 L104.528658,59.2365297 C107.20789,56.5561279 107.20789,52.2088037 104.528658,49.5295708" fill="#DE4C36"> </path> </g> </g></svg>
									</div>
								</div>
							</div>

							<!-- LOGO Github --> 
							<div class="col-span-full sm:col-span-3 lg:col-span-1 overflow-hidden flex relative p-8 rounded-2xl border border-[#171717] bg-[#171717]">
								<div class="size-fit m-auto relative">
									<div class="relative h-24 w-24 flex items-center mx-auto">
										<svg 
											width="130px" height="130px" viewBox="-2 -2 24.00 24.00" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>github [#142]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke-width="0.0002" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-140.000000, -7559.000000)" fill="#ffffff"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399" id="github-[#142]"> </path> </g> </g> </g> </g>
										</svg>	
									</div>
								</div>
							</div>

							<!-- LOGO HTML --> 
							<div class="col-span-full sm:col-span-3 lg:col-span-1 overflow-hidden flex relative p-8 rounded-2xl border border-[#171717] bg-[#171717]">
								<div class="size-fit m-auto relative">
									<div class="relative h-24 w-24 flex items-center mx-auto">
										<svg height="70px" width="70px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
											viewBox="0 0 40 60" xml:space="preserve">
										<g>
											<path style="fill:#E9E9E0;" d="M36.985,0H7.963C7.155,0,6.5,0.655,6.5,1.926V55c0,0.345,0.655,1,1.463,1h40.074
												c0.808,0,1.463-0.655,1.463-1V12.978c0-0.696-0.093-0.92-0.257-1.085L37.607,0.257C37.442,0.093,37.218,0,36.985,0z"/>
											<polygon style="fill:#D9D7CA;" points="37.5,0.151 37.5,12 49.349,12 	"/>
											<path style="fill:#EC6630;" d="M48.037,56H7.963C7.155,56,6.5,55.345,6.5,54.537V39h43v15.537C49.5,55.345,48.845,56,48.037,56z"/>
											<g>
												<path style="fill:#FFFFFF;" d="M17.455,42.924V53h-1.641v-4.539h-4.361V53H9.785V42.924h1.668v4.416h4.361v-4.416H17.455z"/>
												<path style="fill:#FFFFFF;" d="M27.107,42.924v1.121H24.1V53h-1.654v-8.955h-3.008v-1.121H27.107z"/>
												<path style="fill:#FFFFFF;" d="M36.705,42.924h1.668V53h-1.668v-6.932l-2.256,5.605H33l-2.27-5.605V53h-1.668V42.924h1.668
													l2.994,6.891L36.705,42.924z"/>
												<path style="fill:#FFFFFF;" d="M42.57,42.924v8.832h4.635V53h-6.303V42.924H42.57z"/>
											</g>
											<g>
												<path style="fill:#EC6630;" d="M23.207,16.293c-0.391-0.391-1.023-0.391-1.414,0l-6,6c-0.391,0.391-0.391,1.023,0,1.414l6,6
													C21.988,29.902,22.244,30,22.5,30s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L17.914,23l5.293-5.293
													C23.598,17.316,23.598,16.684,23.207,16.293z"/>
												<path style="fill:#EC6630;" d="M41.207,22.293l-6-6c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L39.086,23
													l-5.293,5.293c-0.391,0.391-0.391,1.023,0,1.414C33.988,29.902,34.244,30,34.5,30s0.512-0.098,0.707-0.293l6-6
													C41.598,23.316,41.598,22.684,41.207,22.293z"/>
											</g>
										</g>
										</svg>
									</div>
								</div>
							</div>

							<!-- LOGO javascript --> 
							<div class="col-span-full sm:col-span-3 lg:col-span-1 overflow-hidden flex relative p-8 rounded-2xl border border-[#171717] bg-[#171717]">
								<div class="size-fit m-auto relative">
									<div class="relative h-24 w-24 flex items-center mx-auto">
										<svg height="70px" width="70px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 60" xml:space="preserve">
										<g>
											<path style="fill:#E9E9E0;" d="M36.985,0H7.963C7.155,0,6.5,0.655,6.5,1.926V55c0,0.345,0.655,1,1.463,1h40.074
												c0.808,0,1.463-0.655,1.463-1V12.978c0-0.696-0.093-0.92-0.257-1.085L37.607,0.257C37.442,0.093,37.218,0,36.985,0z"/>
											<polygon style="fill:#D9D7CA;" points="37.5,0.151 37.5,12 49.349,12 	"/>
											<path style="fill:#EEAF4B;" d="M48.037,56H7.963C7.155,56,6.5,55.345,6.5,54.537V39h43v15.537C49.5,55.345,48.845,56,48.037,56z"/>
											<g>
												<path style="fill:#FFFFFF;" d="M26.021,42.719v7.848c0,0.474-0.087,0.873-0.26,1.196c-0.174,0.323-0.406,0.583-0.697,0.779
													c-0.292,0.196-0.627,0.333-1.005,0.41s-0.769,0.116-1.169,0.116c-0.201,0-0.436-0.021-0.704-0.062s-0.547-0.104-0.834-0.191
													s-0.563-0.185-0.827-0.294c-0.265-0.109-0.488-0.232-0.67-0.369l0.697-1.107c0.091,0.063,0.221,0.13,0.39,0.198
													s0.353,0.132,0.554,0.191c0.2,0.06,0.41,0.111,0.629,0.157s0.424,0.068,0.615,0.068c0.482,0,0.868-0.094,1.155-0.28
													s0.439-0.504,0.458-0.95v-7.711H26.021z"/>
												<path style="fill:#FFFFFF;" d="M34.184,50.238c0,0.364-0.075,0.718-0.226,1.06s-0.362,0.643-0.636,0.902s-0.611,0.467-1.012,0.622
													c-0.401,0.155-0.857,0.232-1.367,0.232c-0.219,0-0.444-0.012-0.677-0.034s-0.468-0.062-0.704-0.116
													c-0.237-0.055-0.463-0.13-0.677-0.226s-0.399-0.212-0.554-0.349l0.287-1.176c0.127,0.073,0.289,0.144,0.485,0.212
													s0.398,0.132,0.608,0.191c0.209,0.06,0.419,0.107,0.629,0.144c0.209,0.036,0.405,0.055,0.588,0.055c0.556,0,0.982-0.13,1.278-0.39
													s0.444-0.645,0.444-1.155c0-0.31-0.105-0.574-0.314-0.793c-0.21-0.219-0.472-0.417-0.786-0.595s-0.654-0.355-1.019-0.533
													c-0.365-0.178-0.707-0.388-1.025-0.629c-0.319-0.241-0.584-0.526-0.793-0.854c-0.21-0.328-0.314-0.738-0.314-1.23
													c0-0.446,0.082-0.843,0.246-1.189s0.385-0.641,0.663-0.882s0.602-0.426,0.971-0.554s0.759-0.191,1.169-0.191
													c0.419,0,0.843,0.039,1.271,0.116c0.428,0.077,0.774,0.203,1.039,0.376c-0.055,0.118-0.119,0.248-0.191,0.39
													c-0.073,0.142-0.142,0.273-0.205,0.396c-0.064,0.123-0.119,0.226-0.164,0.308c-0.046,0.082-0.073,0.128-0.082,0.137
													c-0.055-0.027-0.116-0.063-0.185-0.109s-0.167-0.091-0.294-0.137c-0.128-0.046-0.297-0.077-0.506-0.096
													c-0.21-0.019-0.479-0.014-0.807,0.014c-0.183,0.019-0.355,0.07-0.52,0.157s-0.311,0.193-0.438,0.321
													c-0.128,0.128-0.229,0.271-0.301,0.431c-0.073,0.159-0.109,0.313-0.109,0.458c0,0.364,0.104,0.658,0.314,0.882
													c0.209,0.224,0.469,0.419,0.779,0.588c0.31,0.169,0.646,0.333,1.012,0.492c0.364,0.159,0.704,0.354,1.019,0.581
													s0.576,0.513,0.786,0.854C34.078,49.261,34.184,49.7,34.184,50.238z"/>
											</g>
											<g>
												<path style="fill:#EEAF4B;" d="M19.5,19v-4c0-0.551,0.448-1,1-1c0.553,0,1-0.448,1-1s-0.447-1-1-1c-1.654,0-3,1.346-3,3v4
													c0,1.103-0.897,2-2,2c-0.553,0-1,0.448-1,1s0.447,1,1,1c1.103,0,2,0.897,2,2v4c0,1.654,1.346,3,3,3c0.553,0,1-0.448,1-1
													s-0.447-1-1-1c-0.552,0-1-0.449-1-1v-4c0-1.2-0.542-2.266-1.382-3C18.958,21.266,19.5,20.2,19.5,19z"/>
												<circle style="fill:#EEAF4B;" cx="27.5" cy="18.5" r="1.5"/>
												<path style="fill:#EEAF4B;" d="M39.5,21c-1.103,0-2-0.897-2-2v-4c0-1.654-1.346-3-3-3c-0.553,0-1,0.448-1,1s0.447,1,1,1
													c0.552,0,1,0.449,1,1v4c0,1.2,0.542,2.266,1.382,3c-0.84,0.734-1.382,1.8-1.382,3v4c0,0.551-0.448,1-1,1c-0.553,0-1,0.448-1,1
													s0.447,1,1,1c1.654,0,3-1.346,3-3v-4c0-1.103,0.897-2,2-2c0.553,0,1-0.448,1-1S40.053,21,39.5,21z"/>
												<path style="fill:#EEAF4B;" d="M27.5,24c-0.553,0-1,0.448-1,1v3c0,0.552,0.447,1,1,1s1-0.448,1-1v-3
													C28.5,24.448,28.053,24,27.5,24z"/>
											</g>
										</g>
										</svg>
									</div>
								</div>
							</div>

							<!-- LOGO WORDPRESS --> 
							<div class="col-span-full sm:col-span-3 lg:col-span-1 overflow-hidden flex relative p-8 rounded-2xl border border-[#171717] bg-[#171717]">
								<div class="size-fit m-auto relative">
									<div class="relative h-24 w-24 flex items-center mx-auto">
										<svg height="70px" width="70px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 	viewBox="0 0 40 60" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:#E9E9E0;" d="M36.985,0H7.963C7.155,0,6.5,0.655,6.5,1.926V55c0,0.345,0.655,1,1.463,1h40.074 c0.808,0,1.463-0.655,1.463-1V12.978c0-0.696-0.093-0.92-0.257-1.085L37.607,0.257C37.442,0.093,37.218,0,36.985,0z"></path> <polygon style="fill:#D9D7CA;" points="37.5,0.151 37.5,12 49.349,12 "></polygon> <path style="fill:#0096E6;" d="M48.037,56H7.963C7.155,56,6.5,55.345,6.5,54.537V39h43v15.537C49.5,55.345,48.845,56,48.037,56z"></path> <g> <path style="fill:#FFFFFF;" d="M23.58,51.975c-0.374,0.364-0.798,0.638-1.271,0.82s-0.984,0.273-1.531,0.273 c-0.602,0-1.155-0.109-1.661-0.328s-0.948-0.542-1.326-0.971s-0.675-0.966-0.889-1.613c-0.214-0.647-0.321-1.395-0.321-2.242 s0.107-1.593,0.321-2.235c0.214-0.643,0.511-1.178,0.889-1.606s0.822-0.754,1.333-0.978s1.062-0.335,1.654-0.335 c0.547,0,1.058,0.091,1.531,0.273s0.897,0.456,1.271,0.82l-1.135,1.012c-0.228-0.265-0.48-0.456-0.759-0.574 s-0.567-0.178-0.868-0.178c-0.337,0-0.658,0.063-0.964,0.191s-0.579,0.344-0.82,0.649s-0.431,0.699-0.567,1.183 s-0.21,1.075-0.219,1.777c0.009,0.684,0.08,1.267,0.212,1.75s0.314,0.877,0.547,1.183s0.497,0.528,0.793,0.67 s0.608,0.212,0.937,0.212s0.636-0.06,0.923-0.178s0.549-0.31,0.786-0.574L23.58,51.975z"></path> <path style="fill:#FFFFFF;" d="M31.633,50.238c0,0.364-0.075,0.718-0.226,1.06s-0.362,0.643-0.636,0.902s-0.61,0.467-1.012,0.622 s-0.856,0.232-1.367,0.232c-0.219,0-0.444-0.012-0.677-0.034s-0.467-0.062-0.704-0.116s-0.463-0.13-0.677-0.226 s-0.398-0.212-0.554-0.349l0.287-1.176c0.128,0.073,0.289,0.144,0.485,0.212s0.398,0.132,0.608,0.191s0.419,0.107,0.629,0.144 s0.405,0.055,0.588,0.055c0.556,0,0.982-0.13,1.278-0.39s0.444-0.645,0.444-1.155c0-0.31-0.104-0.574-0.314-0.793 s-0.472-0.417-0.786-0.595s-0.654-0.355-1.019-0.533s-0.706-0.388-1.025-0.629s-0.583-0.526-0.793-0.854s-0.314-0.738-0.314-1.23 c0-0.446,0.082-0.843,0.246-1.189s0.385-0.641,0.663-0.882s0.602-0.426,0.971-0.554s0.759-0.191,1.169-0.191 c0.419,0,0.843,0.039,1.271,0.116s0.774,0.203,1.039,0.376c-0.055,0.118-0.118,0.248-0.191,0.39s-0.142,0.273-0.205,0.396 c-0.063,0.123-0.118,0.226-0.164,0.308s-0.073,0.128-0.082,0.137c-0.055-0.027-0.116-0.063-0.185-0.109s-0.166-0.091-0.294-0.137 s-0.296-0.077-0.506-0.096s-0.479-0.014-0.807,0.014c-0.183,0.019-0.355,0.07-0.52,0.157s-0.31,0.193-0.438,0.321 s-0.228,0.271-0.301,0.431s-0.109,0.313-0.109,0.458c0,0.364,0.104,0.658,0.314,0.882s0.47,0.419,0.779,0.588 s0.647,0.333,1.012,0.492s0.704,0.354,1.019,0.581s0.576,0.513,0.786,0.854S31.633,49.7,31.633,50.238z"></path> <path style="fill:#FFFFFF;" d="M39.043,50.238c0,0.364-0.075,0.718-0.226,1.06s-0.362,0.643-0.636,0.902s-0.61,0.467-1.012,0.622 s-0.856,0.232-1.367,0.232c-0.219,0-0.444-0.012-0.677-0.034s-0.467-0.062-0.704-0.116s-0.463-0.13-0.677-0.226 s-0.398-0.212-0.554-0.349l0.287-1.176c0.128,0.073,0.289,0.144,0.485,0.212s0.398,0.132,0.608,0.191s0.419,0.107,0.629,0.144 s0.405,0.055,0.588,0.055c0.556,0,0.982-0.13,1.278-0.39s0.444-0.645,0.444-1.155c0-0.31-0.104-0.574-0.314-0.793 s-0.472-0.417-0.786-0.595s-0.654-0.355-1.019-0.533s-0.706-0.388-1.025-0.629s-0.583-0.526-0.793-0.854s-0.314-0.738-0.314-1.23 c0-0.446,0.082-0.843,0.246-1.189s0.385-0.641,0.663-0.882s0.602-0.426,0.971-0.554s0.759-0.191,1.169-0.191 c0.419,0,0.843,0.039,1.271,0.116s0.774,0.203,1.039,0.376c-0.055,0.118-0.118,0.248-0.191,0.39s-0.142,0.273-0.205,0.396 s-0.118,0.226-0.164,0.308s-0.073,0.128-0.082,0.137c-0.055-0.027-0.116-0.063-0.185-0.109s-0.166-0.091-0.294-0.137 s-0.296-0.077-0.506-0.096s-0.479-0.014-0.807,0.014c-0.183,0.019-0.355,0.07-0.52,0.157s-0.31,0.193-0.438,0.321 s-0.228,0.271-0.301,0.431s-0.109,0.313-0.109,0.458c0,0.364,0.104,0.658,0.314,0.882s0.47,0.419,0.779,0.588 s0.647,0.333,1.012,0.492s0.704,0.354,1.019,0.581s0.576,0.513,0.786,0.854S39.043,49.7,39.043,50.238z"></path> </g> <g> <path style="fill:#0096E6;" d="M19.5,19v-4c0-0.551,0.448-1,1-1c0.553,0,1-0.448,1-1s-0.447-1-1-1c-1.654,0-3,1.346-3,3v4 c0,1.103-0.897,2-2,2c-0.553,0-1,0.448-1,1s0.447,1,1,1c1.103,0,2,0.897,2,2v4c0,1.654,1.346,3,3,3c0.553,0,1-0.448,1-1 s-0.447-1-1-1c-0.552,0-1-0.449-1-1v-4c0-1.2-0.542-2.266-1.382-3C18.958,21.266,19.5,20.2,19.5,19z"></path> <path style="fill:#0096E6;" d="M39.5,21c-1.103,0-2-0.897-2-2v-4c0-1.654-1.346-3-3-3c-0.553,0-1,0.448-1,1s0.447,1,1,1 c0.552,0,1,0.449,1,1v4c0,1.2,0.542,2.266,1.382,3c-0.84,0.734-1.382,1.8-1.382,3v4c0,0.551-0.448,1-1,1c-0.553,0-1,0.448-1,1 s0.447,1,1,1c1.654,0,3-1.346,3-3v-4c0-1.103,0.897-2,2-2c0.553,0,1-0.448,1-1S40.053,21,39.5,21z"></path> </g> </g> </g>
										</svg>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- features - end -->

		<MacbookScrollDemo  client:load />

		<!-- team - start -->
		<div class="bg-[#F5F5F7]">
			<div class="mx-auto max-w-screen-xl py-8 md:py-40">
			<!-- text - start -->
			<div class="mb-10 md:mb-16">
				<h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">BLOG CON WORDPRESS</h2>
				<p class="text-[#171717] font-extralight mx-auto max-w-screen-md text-center md:text-lg ">
					En este ejemplo, se utiliza la API REST de WordPress para obtener las entradas de una pgina web mediante peticiones HTTP en formato JSON.
				</p>
			</div>
			<!-- text - end -->
		
			<div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 lg:gap-8">
				
				{
					posts.slice(0, 8).map((post: any) => (
					<div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8 card">
						<div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-40 md:w-40">
							<GetBlogImage image_id={post.featured_media}  />
						</div>
				
						<div>
							<div class="text-center text-[#B32F44] text-sm font-semibold uppercase leading-5 mb-3">{post.title.rendered}</div>
							<p class="mb-4 text-center text-base text-[#171717] font-extralight"><GetBlogDate blog_date={post.date} /></p>
				
							<!-- social - start -->
							<div class="flex justify-center">
							<div class="flex gap-4">
								<a href={`${post.link}/`} >
									<svg 
										fill="#9ca3af" width="40px" height="40px" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M 27.9999 51.9062 C 41.0546 51.9062 51.9063 41.0547 51.9063 28.0000 C 51.9063 14.9219 41.0312 4.0938 27.9765 4.0938 C 14.8983 4.0938 4.0937 14.9219 4.0937 28.0000 C 4.0937 41.0547 14.9218 51.9062 27.9999 51.9062 Z M 38.4062 17.1016 C 41.3124 19.9844 41.0546 23.5469 37.7030 26.875 L 33.6718 30.9297 C 33.9999 29.8047 33.9765 28.4922 33.6014 27.6016 L 35.9687 25.2344 C 38.2655 22.9844 38.5234 20.6172 36.6952 18.8125 C 34.8905 17.0313 32.5234 17.3125 30.2733 19.5625 L 26.9218 22.8672 C 24.6014 25.2109 24.2968 27.6016 26.1249 29.3828 C 26.6640 29.9453 27.4609 30.2969 28.4921 30.4844 C 28.1405 31.2344 27.4140 32.1016 26.7343 32.5703 C 26.0312 32.4531 25.1405 31.8906 24.3905 31.1172 C 21.4843 28.2344 21.7890 24.625 25.1874 21.2031 L 28.6093 17.8047 C 31.9609 14.4531 35.5234 14.2187 38.4062 17.1016 Z M 16.7499 38.7578 C 13.8436 35.875 14.1014 32.3125 17.4765 28.9844 L 21.5077 24.9297 C 21.1562 26.0547 21.1796 27.3672 21.5546 28.2578 L 19.1874 30.625 C 16.8905 32.8516 16.6327 35.2422 18.4609 37.0469 C 20.2655 38.8281 22.6562 38.5469 24.8827 36.2969 L 28.2343 32.9922 C 30.5546 30.6484 30.8593 28.2578 29.0312 26.4766 C 28.4921 25.9140 27.6952 25.5625 26.6640 25.375 C 27.0155 24.625 27.7421 23.7578 28.4218 23.2891 C 29.1249 23.4062 30.0155 23.9687 30.7890 24.7422 C 33.6718 27.625 33.3671 31.2109 29.9687 34.6328 L 26.5468 38.0547 C 23.1952 41.4063 19.6327 41.6406 16.7499 38.7578 Z"></path></g>
									</svg>
								</a>

							</div>
							</div>
							<!-- social - end -->
						</div>
					</div>	
					))
				}
				
			</div>
			</div>
		</div>
		<!-- team - end -->
		
		<!-- stats - start -->
		<div class="bg-[#F5F5F7] py-6 sm:py-8 lg:py-12">
			<div class="mx-auto max-w-screen-xl px-4 md:px-8">
			<!-- text - start -->
			<div class="mb-10 md:mb-16">
				<h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Our Team by the numbers</h2>
		
				<p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
			</div>
			<!-- text - end -->
		
			<div class="grid grid-cols-2 gap-8 md:grid-cols-4 md:gap-0 md:divide-x">
				<!-- stat - start -->
				<div class="flex flex-col items-center md:p-4">
				<div class="text-xl font-bold text-[#B32F44] sm:text-2xl md:text-3xl">200</div>
				<div class="text-sm font-semibold sm:text-base">People</div>
				</div>
				<!-- stat - end -->
		
				<!-- stat - start -->
				<div class="flex flex-col items-center md:p-4">
				<div class="text-xl font-bold text-[#B32F44] sm:text-2xl md:text-3xl">500+</div>
				<div class="text-sm font-semibold sm:text-base">People</div>
				</div>
		
				<!-- stat - start -->
				<div class="flex flex-col items-center md:p-4">
				<div class="text-xl font-bold text-[#B32F44] sm:text-2xl md:text-3xl">1000+</div>
				<div class="text-sm font-semibold sm:text-base">Customers</div>
				</div>
				<!-- stat - end -->
		
				<!-- stat - start -->
				<div class="flex flex-col items-center md:p-4">
				<div class="text-xl font-bold text-[#B32F44] sm:text-2xl md:text-3xl">A couple</div>
				<div class="text-sm font-semibold sm:text-base">Coffee breaks</div>
				</div>
				<!-- stat - end -->
			</div>
			</div>
		</div>
		<!-- stats - end -->
		
		<!-- newsletter - start -->
		<div class="bg-[#F5F5F7] py-6 sm:py-8 lg:py-12">
			<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
			<div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 sm:p-8">
				<div class="mb-4 sm:mb-8">
				<h2 class="text-center text-xl font-bold text-[#B32F44] sm:text-2xl lg:text-3xl">Get the latest updates</h2>
				<p class="text-center text-gray-500">Sign up for our newsletter</p>
				</div>
		
				<form class="mb-3 flex w-full max-w-md gap-2 sm:mb-5">
				<input placeholder="Email" class="bg-gray-white w-full flex-1 rounded border border-gray-300 px-3 py-2 text-gray-800 placeholder-gray-400 outline-none ring-[#B32F44] transition duration-100 focus:ring" />
		
				<button class="inline-block rounded bg-[#B32F44] px-8 py-2 text-center text-sm font-semibold text-white outline-none ring-[#B32F44] transition duration-100 hover:bg-[#B32F44] focus-visible:ring active:bg-[#B32F44] md:text-base">Send</button>
				</form>
		
				<p class="text-center text-xs text-gray-400">By signing up to our newsletter you agree to our <a href="#" class="underline transition duration-100 hover:text-[#B32F44] active:text-[#B32F44]">Term of Service</a> and <a href="#" class="underline transition duration-100 hover:text-[#B32F44] active:text-[#B32F44]">Privacy Policy</a>.</p>
			</div>
			</div>
		</div>
		<!-- newsletter - end -->
		
		<!-- footer - start -->
		<Footer />
		<!-- footer - end -->
		
	</body>
</html>