---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CardUser from '../components/CardUser.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const res = await fetch('https://randomuser.me/api/?results=12');
const users = await res.json();
console.log(users);

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
		<Header />
		<!-- team - start -->
		<div class="bg-white py-6 sm:py-8 lg:py-12">
			<div class="mx-auto max-w-screen-xl px-4 md:px-8">
			<!-- text - start -->
			<div class="mb-10 md:mb-16">
				<h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Meet our Team</h2>
		
				<p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
			</div>
			<!-- text - end -->
		
			<div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 lg:gap-8">
				
                {
                    users.results.map((user) => {
                        return <CardUser image={user.picture.large}
                                         name={user.name.first + ' ' + user.name.last}
                                         country={user.location.country}
                                         social={user.social} />
                    })
                }

			</div>
			</div>
		</div>
		<!-- team - end -->
		
		<!-- newsletter - start -->
		<div class="bg-white py-6 sm:py-8 lg:py-12">
			<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
			<div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 sm:p-8">
				<div class="mb-4 sm:mb-8">
				<h2 class="text-center text-xl font-bold text-indigo-500 sm:text-2xl lg:text-3xl">Get the latest updates</h2>
				<p class="text-center text-gray-500">Sign up for our newsletter</p>
				</div>
		
				<form class="mb-3 flex w-full max-w-md gap-2 sm:mb-5">
				<input placeholder="Email" class="bg-gray-white w-full flex-1 rounded border border-gray-300 px-3 py-2 text-gray-800 placeholder-gray-400 outline-none ring-indigo-300 transition duration-100 focus:ring" />
		
				<button class="inline-block rounded bg-indigo-500 px-8 py-2 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Send</button>
				</form>
		
				<p class="text-center text-xs text-gray-400">By signing up to our newsletter you agree to our <a href="#" class="underline transition duration-100 hover:text-indigo-500 active:text-indigo-600">Term of Service</a> and <a href="#" class="underline transition duration-100 hover:text-indigo-500 active:text-indigo-600">Privacy Policy</a>.</p>
			</div>
			</div>
		</div>
		<!-- newsletter - end -->
		
		<!-- footer - start -->
		<Footer />
		<!-- footer - end -->
		
	</body>
</html>