---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CardUser from '../components/CardUser.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const res = await fetch('https://randomuser.me/api/?results=12');
const users = await res.json();
//console.log(users);

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
		<Header />
		<!-- team - start -->
		<div class="bg-white py-6 sm:py-8 lg:py-12">
			<div class="mx-auto max-w-screen-xl px-4 md:px-8">
			<!-- text - start -->
			<div class="mb-10 md:mb-16">
				<h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Meet our Team</h2>
		
				<p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
			</div>
			<!-- text - end -->
		
			<div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 lg:gap-8">
				
                {
				users.results.map((user: any) => {
                        return <CardUser image={user.picture.large}
                                         name={user.name.first + ' ' + user.name.last}
                                         country={user.location.country}
                                         social={user.social} />
                    })
                }

			</div>
			</div>
		</div>
		<!-- team - end -->
		
		<!-- footer - start -->
		<Footer />
		<!-- footer - end -->
		
	</body>
</html>